# OSX
#
.DS_Store

# project
#

public/bower

public/avatars/*
!public/avatars/placeholder

public/grid_avatars/*
!public/grid_avatars/placeholder

avatars/*
!avatars/placeholder

grid_avatars/*
!grid_avatars/placeholder

# node.js
#
node_modules
npm-debug.log

# ide
# 
.idea

# vim
#
*.swp
*.~
Session.vim
.tern-project

# tmux
#
tmux*.log
pub_conf/grid.json
config/config.json
!config/config.json.template

public/.well-known

logs
