# OSX
#
.DS_Store

# project
# 
public/bower
public/avatars
avatars/*
!avatars/placeholder
grid_avatars/*
!grid_avatars/placeholder

# node.js
#
node_modules
npm-debug.log

# ide
# 
.idea

# vim
#
*.swp
*.~
Session.vim
.tern-project

# tmux
#
tmux*.log
pub_conf/grid.json
config/*