<!-- import css -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
  rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/javascripts/avatar.css">
<link rel="stylesheet" href="/javascripts/vex/css/vex.css" />
<link rel="stylesheet" href="/javascripts/vex/css/vex-theme-os.css" />

<!-- @import url(https://cesiumjs.org/releases/1.40/Build/Cesium/Widgets/widgets.css); -->
<style>
  @import url(/cesium/Widgets/widgets.css);

  #galaxy {
    height: 600px;
  }
</style>
<!-- end import css -->

<canvas id="canvas"></canvas>

{{> navbar}}

<div class="container-fluid">
  <div class="row">
    {{> statusSidebar}}
    <div id="galaxy" class="col-md-7"></div>
    {{> gridSidebar}}
  </div>
</div>

<!-- import jquery & bootstrap -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.i18n/1.0.4/jquery.i18n.js"></script>
<script src="https://cdn.bootcss.com/jquery.i18n/1.0.4/jquery.i18n.messagestore.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="/bower/remarkable-bootstrap-notify/bootstrap-notify.min.js"></script>
<!-- end import jquery & bootstrap -->

<script type="text/javascript">
  //window.CESIUM_BASE_URL = '/cesium';
  window.LOCALE = '{{ l }}' || 'cn';
</script>

<script src="/javascripts/avatar.js"></script>
<script src="/javascripts/async.js"></script>
<script src="/javascripts/vex/js/vex.combined.min.js"></script>
<script>vex.defaultOptions.className = 'vex-theme-os'</script>

<script type="text/javascript">
</script>

<!-- distinguish test and pro env if cesium -->

  <!-- <script src="https://cdn.bootcss.com/webpack-cesium/1.37.0/webpack.cesium.js"></script> -->
<script src="/cesium/Cesium.js"></script>
<!-- <script src="https://cesiumjs.org/releases/1.40/Build/Cesium/Cesium.js"></script> -->
<!-- end distinguish test and pro env if cesium -->

<script src="javascripts/consts.js"></script>
<script src="javascripts/utils.js"></script>
<script src="javascripts/validation.js"></script>
<script src="javascripts/stars.js"></script>
<script src="javascripts/Earth.js"></script>
<script src="javascripts/contract.js"></script>
<script src="javascripts/configuration.js"></script>
<script src="javascripts/grids.js"></script>
<script src="javascripts/event.js"></script>
<script src="javascripts/galaxy.js"></script>
<script src="javascripts/AppSkeleton.js"></script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'EEGalaxy/Lobby'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
